@model IEnumerable<MOE.Common.Models.ApproachRouteDetail>
@{
    ViewBag.Title = "Phases/Directions For Route";
}

<h2>@Model.First().ApproachRoute.RouteName</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.First().ApproachRouteId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Approach.ApproachRouteDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproachOrder)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Approach.ApproachRouteDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproachOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteDetailID })
        </td>
    </tr>
}

</table>
